body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}

ul { 
    list-style: none; 
    padding-left: 5px; 
}

h1 {
    font-style: bold;
}

a { 
    color:blue; 
    text-decoration: none;
}

p {
    margin-bottom: -5px;
}

header {
    max-width: 1440px;
    position: relative;
    margin: auto;
    padding-left: 1rem;
}

header figure {
    max-width: 1440px;
    position: relative;
    margin-top: 10px;
    margin-left: 0;
}

header img {
    border-radius: 5px;
}

figcaption {
    display: none;
}

.bar {
    background-color: #f9f9fb;
    padding: 15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

main {
    max-width: 1440px;
    margin: auto;
    display: grid;
    gap: 0.5rem;
    grid-template-areas: "anchors main sidebar";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

article {
    margin: auto;
    position: relative;
    float: right;
}

section {
    margin-bottom: 55px; /* rever novamente */
}

#primary_box {
    width: 255px;
    height: 710px;
    border: 1px solid #22252d;
    background-color: #f04848;
    float: right;
    margin-left: 15px;
    position: relative;
    font-size: 0.85em;
}

#primary_box figure {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    left: 0%;
    margin-bottom: 20px;
    contain: content;
}

#primary_box img {
    position: relative;
    left: 0%;
    width: 200px;
    margin: auto;
}

#primary_box h3 {
    text-align: center ;
    margin-top: 7px;
}

#primary_box h4 {
    margin-bottom: -5px;
}

#origem {
    display: flex;
    margin-bottom: 10px;
    align-items: baseline;
    padding: 0 0 0 15px;
}

#origem h4,
#origem p,
#contexto h4,
#contexto p {
    margin-top: 0px;
    margin-bottom: -5px;
    margin: 0 15px 0 0;
}

#contexto {
    display: flex;
    margin-bottom: 10px;
    align-items: baseline;
    padding: 0 0 0 15px;
}

#subgêneros,
#gen_fusão,
#outros {
    text-align: center;
    margin-bottom: 5px;
    position: relative;
}

#subgêneros h4,
#gen_fusão h4,
#outros h4 {
    position: relative;
    margin-top: 0;
}

#subgêneros p,
#gen_fusão p,
#outros p {
    position: relative;
    margin-bottom: -17.5px;
}    

#subgêneros {
    height: 117px;
}

#gen_fusão {
    height: 100px;
}

#outros {
    height: 100px;
}

.video-termos {
    margin: 0.5em 1.4em 1.3em 0;
    clear: left;
    float: left;
}

footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}

#anchors h3 {
    position: sticky;
    top: 24px;
    margin-bottom: 20px;
}

#anchors ul {
    position: sticky;
    top: 70px;
}

#anchors li {
    margin-bottom: 5px;
}

#anchors ul li ul {
    margin-bottom: 5px;
    margin-left: 10px;
}
